<div class="os-eob os-<%= @solutions_or_solution %>-container" data-type="<%= @composite_element %>" data-uuid-key=".<%= @uuid_key %>">
  <<%= @main_title_tag %> data-type="document-title">
    <span class="os-text"><%= @title %></span>
  </<%= @main_title_tag %>>
  <div data-type="metadata" style="display: none;">
    <h1 data-type="document-title" itemprop="name"><%= @title %></h1>
    <%= @metadata.paste %>
  </div>
</div>
