<div class="os-eoc os-<%=@klass%>-container" data-type="composite-page" data-uuid-key=".<%=@klass%>">
  <<%= @tag %> data-type="document-title">
    <span class="os-text"><%= @title %></span>
  </<%= @tag %>>
  <div data-type="metadata" style="display: none;">
    <h1 data-type="document-title" itemprop="name"><%= @metadata_title %></h1>
    <%= @metadata.paste %>
  </div>
  <%= @content %>
</div>
