<div class="os-eoc os-<%= @klass %>-container" data-type="composite-chapter" data-uuid-key=".<%= @klass %>">
  <h2 data-type="document-title">
    <span class="os-text"><%= @title %></span>
  </h2>
  <div data-type="metadata" style="display: none;">
    <h1 data-type="document-title" itemprop="name"><%= @title %></h1>
    <%= @metadata.paste %>
  </div>
</div>
